body {
	margin: 0;
	font-size: 16px;
	line-height: 1.2;
	font-family: "din-pro-condensed-medium"; 
	color: #000;
	background: #fff;
}
a {
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
ul {
	padding: 0;
}
h1,h2,h3,h4,h5,h6,h7 {
	margin: 0;
}
input::-ms-clear {
	display: none;
}
input:focus {
	outline: none !important;
}
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
button:active, button:focus {
	outline: none;
}
button::-moz-focus-inner {
	border: 0;
}
button {
	cursor: pointer;
	border: 0;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #999999;
	opacity: 1;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #999999;
	opacity: 1;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #999999;
	opacity: 1;
}
:-moz-placeholder { /* Firefox 18- */
	color: #999999;
	opacity: 1;
}
.text-center {
	text-align: center;
}
.center {
	justify-content: center;
}
header {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	display: block;
}
.header-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}
.logo {
	color: #000;
	font-size: 24px;
	font-family: "din-pro-condensed-medium"; 
}
.header-info {
	font-size: 16px;
	font-family: "din-pro-condensed-medium"; 
}
.phone {
	display: flex;
	align-items: center;
	color: #000;
	font-size: 30px;
	font-family: "din-pro-condensed-bold"; 
}
.phone img {
	width: 30px;
	height: 30px;
	margin-right: 15px;
	object-fit: scale-down;
}
.mail {
	display: flex;
	align-items: center;
	color: #000;
	font-size: 18px;
	font-family: "din-pro-condensed-medium"; 
}
.mail img {
	width: 30px;
	height: 30px;
	margin-right: 15px;
	object-fit: scale-down;
}
.kurs {
	font-size: 18px;
	font-family: "din-pro-condensed-medium"; 
}
.main {
	height: 100vh;
}
.content-center {
	height: 100vh;
	display: flex;
	align-items: center;
}
.title-h1 {
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	display: block;
	margin-top: 100px;
	font-weight: 100;
	font-family: "BebasNeueBold";
	letter-spacing: 0.05em;
}
.title-h2 {
	font-size: 50px;
	text-transform: uppercase;
	color: #fff;
	margin-top: 20px;
	font-weight: 100;
	display: block;
	font-family: "BebasNeueBold";
	letter-spacing: 0.05em;
}
.first {
	background: rgba(226, 13, 23, 0.8);
	padding: 5px 40px;
}
.last {
	background: rgba(34, 54, 164, 0.8);
	padding: 5px 40px;
}
.main-list {
	margin: 50px 0 50px 0;
}
.main-list-item {
	display: flex;
	align-items: center;
	color: #fff;
	margin-bottom: 15px;
	font-family: "din-pro-condensed-medium"; 
	font-size: 22px;
}
.main-list-item img {
	margin-right: 15px;
}
.btn-calc {
	background: #dd0005;
	font-family: "Montserrat-Bold"; 
	color: #fff;
	text-transform: uppercase;
	padding: 20px 50px;
	display: inline-block;
	border-bottom: 4px #7f0000 solid;
	cursor: pointer;
}
.service {
	margin: 100px 0 75px 0;
}
.service-card {
	position: relative;
	margin-bottom: 25px;
}
.service-card__image {
	width: 100%;
}
.service-card__image img {
	width: 100%;
}
.service-card__content {
	position: absolute;
	left: 0;
	bottom: 2px;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(32, 58, 169, 0.8);
	width: 100%;
	color: #fff;
	min-height: 88px
}
.service-card__title {
	font-family: "din-pro-condensed-bold";
	font-size: 28px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.service-card__text {
	font-family: "din-pro-condensed-medium";
	font-size: 24px;
	text-align: right;
}
.company {
	background: url('../image/company.png') 100% 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 100px 0;
	position: relative;
	color: #fff;
}
.company::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background: rgba(32, 58, 169, 0.8);
}
.company-h2 {
	font-family: "BebasNeueBold";
	margin-bottom: 25px;
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.company__text {
	font-family: "din-pro-condensed-medium";
	font-size: 18px;
	margin-bottom: 35px;
}
.plus {
	margin: 100px 0;
	position: relative;
}
.calc-abs {
	cursor: pointer;
	position: absolute;
	bottom: 20%;
	left: 0;
	background: #fff;
	padding: 25px;
	-webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
	display: flex;
	align-items: center;
}
.calc-abs__text {
	display: none;
	font-family: "BebasNeueBold";
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ff0000;
	width: 100%;
	padding-left: 15px;
	position: relative;
	z-index: 2;
}
.calc-abs__text:hover {
	display: block !important;
}
.calc-abs img {
	width: 100%;
	height: 100px;
	object-fit: scale-down;
}
.calc-abs:hover .calc-abs__text {
	display: block;
}
.plus__title-h2 {
	font-family: "BebasNeueBold";
	margin-bottom: 45px;
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.plus__title-h2 span {
	color: #ff0000;
}
.plus-list-item {
	margin-bottom: 30px;
	position: relative;
	margin-left: 30px;
	font-family: "din-pro-condensed-bold";
	font-size: 18px;
}
.plus-list-item span {
	font-family: "din-pro-condensed-regular"; 
	font-weight: 100;
	display: block;
	width: 100%;
	margin-top: 5px;
}
.plus-list-item::before {
	content: "";
	position: absolute;
	top: 5px;
	left: -30px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #ff0000;
}
.plus__image img {
	width: 100%;
	object-fit: scale-down;
	margin-left: 75px;
	margin-top: 75px;
	height: 850px;
}
.work {
	background: url('../image/car.png') 150% 50%;
	padding: 100px 0 50px 0;
	position: relative;
	background-repeat: no-repeat;
}
.work::after {
	background: #e0e0e0;
	content: "";
	position: absolute;
	width: 60%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: -1;
}
.work::before {
	background: #03199a;
	content: "";
	position: absolute;
	width: 40%;
	height: 100%;
	right: 0;
	top: 0;
	z-index: -1;
}
.work-title-h2 {
	font-family: "BebasNeueBold";
	margin-bottom: 45px;
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.work-title-h2 span {
	color: #ff0000;
}
.work-list-item {
	display: flex;
	margin-bottom: 50px;
	align-items: flex-start;
}
.work-list__number {
	color: #ff0000;
	font-family: "Montserrat-Bold";
	font-size: 50px;
	margin-right: 25px;
	width: 35px;
	position: relative;
	top: -10px;
}
.work-list__title {
	font-family: "din-pro-condensed-bold";
	font-size: 18px;
	margin-bottom: 25px;
}
.work-list__text {
	font-family: "din-pro-condensed-regular"; 
	font-weight: 100;
	font-size: 18px;
}	
.calc {
	padding: 100px 0;
	height: 100%;
	width: 100%;
}
.calc-title-h2 {
	font-family: "BebasNeueBold";
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ff0000;
	font-weight: 100;
	margin-bottom: 35px;
	text-align: center;
}
.calc-content {
	background: rgba(255, 255, 255, 0.7);
	padding: 35px 100px;
}
.form-rows {
	display: flex;
	flex-wrap: wrap;
}
.form-item {
	width: calc(25% - 25px);
}
.form-bottom {
	display: flex;
}
.form-bottom-item {
	width: 100%;
}
.form-item {
	margin-bottom: 25px;
	margin-right: 25px;
}
.form-item__title {
	font-family: "din-pro-condensed-medium";
	font-size: 20px;
	margin-bottom: 15px;
}
.form-item__input {
	width: 100%;
	padding: 5px;
	font-size: 16px;
}
.text-area {
	width: 100%;
	resize: none;
	height: 150px;
	font-size: 16px;
}
.form-bottom-item:nth-child(1) {
	margin-right: 25px;
}
.form__text {
	margin-top: 35px;
	margin-bottom: 15px;
	font-family: "din-pro-condensed-medium";
	font-size: 18px;
	padding: 5px;
}
.variant-input {
	font-family: "din-pro-condensed-medium";
	font-size: 18px;
	margin-right: 25px;
	outline: none;
}
.text-area:focus {
	resize: none;
	outline: none;
}
.maps {
	position: relative;
}
.maps-content {
	position: absolute;
	right: 20%;
	top: 95px;
	background: rgba(34, 54, 164, 0.8);
	padding: 50px 75px;
}
.maps-title-h2 {
	font-family: "BebasNeueBold";
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 100;
	color: #fff;
	text-align: center;
	margin-bottom: 25px;
}
.maps-content-item {
	margin-bottom: 25px;
	display: flex;
}
.maps-content__icon {
	width: 30px;
	margin-right: 25px;
}
.maps-content__text {
	font-family: "din-pro-condensed-medium";
	font-size: 20px;
	color: #fff;
}
.maps-content__text a {
	color: #fff;
}
.footer {
	background: #03199a;
	color: #fff;
	padding: 50px 0;
}
.footer-row {
	display: flex;
}
.footer-item {
	width: 100%;
	font-size: 18px;
}
.hr {
	height: 2px;
	width: 100%;
	background: #fff;
	margin: 25px 0;
}
.foot-phone {
	color: #fff;
	width: 100%;
	display: block;
	font-family: "din-pro-condensed-bold";
	font-size: 22px;
	margin-top: 25px;
	margin-bottom: 10px;
}
.foot-mail {
	color: #fff;
}
.foot-title {
	font-family: "din-pro-condensed-bold";
	text-transform: uppercase;
	font-size: 20px;
}
.foot-list-item-link {
	color: #fff;
	display: block;
	margin-bottom: 5px;
}
.footer-item .btn-calc {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px 10px;
	font-size: 14px;
	text-align: center;
	justify-content: center;
}
.footer-item .btn-calc img {
	margin-right: 10px;
}
.footer__title {
	font-size: 20px;
	margin-bottom: 25px;
}
.footer__text {
	font-size: 16px;
}
.modal__title-h2 {
	font-family: "BebasNeueBold";
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	font-weight: 100;
	margin-bottom: 35px;
	text-align: center;
}
.modal-rows {
	display: flex;
	margin-bottom: 50px;
	flex-wrap: wrap;
	width: 1000px;
}
.modal-rows .modal-item {
	margin-bottom: 25px;
}
.modal-item {
	display: block;
	margin-right: 25px;
}
.modal-item:last-child {
	margin-right: 0 !important;
}
.modal-item:nth-child(5) {
	margin-right: 0 !important;
}
.modal-rows2 {
	display: flex;
	align-items: center;
}
.modal-inputs {
	display: flex;
}
.modal-border {
	border: 1px #fff solid;
	padding: 25px;
}
.modal__longtitle {
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.modal__title {
	margin-bottom: 10px;
	font-size: 18px;
}
.modal__input {
	padding: 5px 15px;
}
.modal-row-item .modal-item {
	width: 120px;
}
.modal__input {
	width: 100%;
}
.modal-row-item .btn-calc {
	padding: 20px 30px;
	margin-left: 50px;
}
.modal-text {
	margin-left: 50px;
	margin-top: 15px;
	font-size: 15px;
	text-align: center;
}
.title-h4 {
	font-family: "BebasNeueBold";
	font-size: 38px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	font-weight: 100;
	margin-bottom: 25px;
	text-align: center;
}
.call-text {
	font-size: 20px;
	margin-bottom: 20px;
}
.input-block {
	width: 70%;
	margin: 0 auto 25px auto;
}
.input-block input {
	width: 100%;
	padding: 10px 15px;
}
@media screen and (max-width: 576px) {
	header {
		position: relative;
		background: #fff;
	}
	.header-flex {
		flex-direction: column;
		text-align: center;
	}
	.header-item {
		margin-bottom: 15px;
	}
	.main {
		height: 100%;
	}
	.header-flex {
		margin: 20px 0 5px 0;
	}
	.main-content {
		width: 100%;
	}
	.title-h1 {
		font-size: 30px;
		line-height: 1;
		text-align: center;
	}
	.title-h2 {
		font-size: 30px;
		line-height: 1;
		text-align: center;
	}
	.first {
		display: block;
		width: 100%;
		padding: 5px 0;
		text-align: center;
	}
	.last {
		display: block;
		width: 100%;
		padding: 5px 0;
		text-align: center;
	}
	.main-list {
		display: flex;
		align-items: center;
		flex-direction: column;
	}
	.btn-calc {
		width: 100%;
		text-align: center;
	}
	.service-card__title {
		font-size: 18px;
	}
	.service-card__title br {
		display: none;
	}
	.service-card__text {
		font-size: 18px;
	}
	.service-card__text br {
		display: none;
	}
	.company__text br {
		display: none;
	}
	.company::before {
		width: 100%;
	}
	.plus__image {
		display: none;
	}
	.calc-abs {
		bottom: -65px;
		padding: 10px;
	}
	.calc-abs img {
		width: 50px;
		height: 50px;
	}
	.work::before {
		display: none;
	}
	.work {
		background: none;
	}
	.work::after {
		width: 100%;
	}
	.calc-content {
		padding: 35px 25px;
	}
	.form-rows {
		flex-wrap: wrap;
	}
	.form-item {
		width: 45%;
		margin-right: 0;
	}
	.form-item:nth-child(2n + 1) {
		margin-right: 25px !important;
	}
	.form-bottom {
		flex-direction: column;
	}
	.form-bottom-item:nth-child(2) {
		display: flex;
		flex-direction: column-reverse;
		margin-top: 35px;
	}
	.form__text {
		margin-top: 15px;
	}
	.maps-content {
		padding: 25px;
		top: 100px;
		right: 8%;
	}
	.footer-row {
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.footer-item {
		margin-bottom: 25px;
	}
	.foot-list-item-link {
		margin-bottom: 10px;
	}
	.footer-item .btn-calc {
		padding: 15px 0;
	}
	.modal-rows {
		width: 100%;
		flex-wrap: wrap;
	}
	.modal-item {
		width: 45%;
		margin-right: 0;
	}
	.modal-item:nth-child(2n + 1) {
		margin-right: 25px !important;
	}
	.calc-modal {
		height: 100% !important;
		overflow-y: scroll;
	}
	.modal__title-h2 {
		margin-top: 25px;
	}
	.modal-inputs {
		flex-wrap: wrap;
	}
	.modal-item {
		width: 45%;
		margin-bottom: 25px;
	}
	.modal-rows {
		margin-bottom: 25px;
	}
	.modal-rows2 {
		flex-direction: column;
	}
	.calc-modal .modal-content {
		height: 100%;
	}
	.modal-row-item .btn-calc {
		margin-left: 0;
	}
	.modal-text {
		margin-left: 0;
	}
	.modal-row-item {
		margin-bottom: 25px;
	}
}