@font-face {
font-family: "BebasNeueBold"; 
src: url("BebasNeueBold.otf") format("opentype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
font-family: "BebasNeueRegular"; 
src: url("BebasNeueRegular.otf") format("opentype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
font-family: "din-pro-condensed-bold"; 
src: url("din-pro-condensed-bold.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}
@font-face {
font-family: "din-pro-condensed-medium"; 
src: url("din-pro-condensed-medium.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
font-family: "din-pro-condensed-regular"; 
src: url("din-pro-condensed-regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
@font-face {
font-family: "Montserrat-Bold"; 
src: url("Montserrat-Bold.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 